{% extends "base.html" %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block container %}
    <style>
        body {
            text-align: center;
        }

        .chart-container {
            /* Add padding to the top to push the content down */
            padding-top: 20px;
        }

        .pie-chart {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Adjust the width and height of the bar chart here */
        img {
            width: 60%;
            height: auto;
        }
    </style>

    <div class="chart-container">
        <h1>Applicants Insights</h1>
        <div class="pie-chart">
            <img src="data:image/png;base64,{{ plot_base64 }}" alt="Company Applicants Insights">
        </div>
    </div>
{% endblock %}
